@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #134c8f;
    padding: 20px 0;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

header img {
    margin-left: 30px;
    width: auto;
    cursor: pointer;
}

.content {
    height: auto;
    min-height: 83vh;
    background-color: #b6e1f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . .";
    margin: 0 30px;
}

.home img {
    width: 100%;
    height: auto;
    max-height: 280px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home img:hover {
    transform: scale(1.1);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 30px;
}

.game h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.game .simulator iframe {
    width: 800px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game .simulator i {
    color: white;
    font-size: 45px;
}

.game .carrusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.game .carrusel img {
    height: auto;
    max-height: 120px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game .carrusel img:hover {
    transform: scale(1.1);
}

.game .modal {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.game .modal-content {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.game .modal-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game span {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.game .arrow-btn i {
    font-size: 50px;
}

.game span:hover,
.game span:focus {
    color: #ffffff;
    cursor: pointer;
}

.footer {
    background-color: #134c8f;
    padding: 20px 0;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer i {
    color: white;
    font-size: 25px;
}

@media (max-width: 768px) {
    .home {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
            ". ."
            ". ."
            ". .";
        margin: 30px;
    }

    .home img {
        width: 100%;
        height: 230px;
        max-height: 280px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .game .simulator {
        width: 100%;
    }

    .game .simulator iframe {
        width: 100%;
        height: 640px;
    }

    .game .modal-carrusel img {
        width: 80%;
        height: auto;
        max-height: 20vh;
    }
}

@media (max-width: 480px) {
    header {
        justify-content: center;
    }

    .home {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15px 0px;
        grid-template-areas:
            "."
            "."
            "."
            "."
            "."
            ".";
        margin: 30px;
    }

    .home img {
        width: 100%;
        height: 220px;
    }

    .game h2 {
        font-size: 20px;
    }

    .game .simulator {
        display: none;
    }

    .game .modal-carrusel img {
        height: 160px;
    }

    .game .arrow-btn i {
        font-size: 30px;
    }

    .footer i {
        font-size: 20px;
    }
}